@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
/*@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@600&display=swap");*/

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-light: #ffffff;
  --color-blue: #2092e9;
  --color-black: #1e1e1e;
  --color-white: #f9f9f9;
  --color-tet: #f9fbf9;
  --color-neutral-50: #fcfdfd;
  --color-black-text: #0c0c0e;
  --color-neutral-200: #f3f4f6;
  --color-blue-hover: #baddf8;
  --color-gray: #e5e8eb;
  --color-gray-50: #a3a5a7;
  --color-muted-foreground: #67686b;
  --font-dm-sans: DM Sans, "sans-serif";
  --font-instrument-sans: "Instrument Sans", sans-serif;

  /* Dark Mode Overrides */
  --color-muted-foreground-dark: #ffffffcc;
  --color-neutral-50-dark: #1a1e33;
  --color-neutral-200-dark: #2d2d2d;
}

body {
  font-family: "Inter", sans-serif;
}

[data-theme="dark"] {
  --color-muted-foreground: var(--color-muted-foreground-dark);
  --color-neutral-50: var(--color-neutral-50-dark);
  --color-neutral-200: var(--color-neutral-200-dark);
}
