@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@600&display=swap");

@theme {
  --color-light: #ffffff;

  --color-blue: #2092e9;
  --color-black: #1e1e1e;
  --color-white: #f9f9f9;
  --color-tet: #f9fbf9;
  --font-dm-sans: DM Sans, "sans-serif";
  --font-instrument-sans: "Instrument Sans", sans-serif;
}
